html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #181818;
  color: #f4f4f4;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  nav .options {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }
  nav .options li {
    margin: 0.8rem;
    padding: 1rem 2rem;
    font-size: 1em;
    color: #f4f4f4;
    background-color: #019bf4;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  nav .options li:hover {
    background-color: #5bc500;
  }
  nav .hamburger {
    display: none;
  }
}

.abajo {
  background-color: #181818;
  position: sticky;
  top: 0;
}

.nav-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  font-size: 2.8rem;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #f4f4f4;
  cursor: pointer;
}

.options {
  display: none;
}

a {
  text-decoration: none;
  margin: 0.8rem;
  padding: 1rem 2rem;
  font-size: 1em;
  color: #f4f4f4;
  background-color: #5bc500;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.5s;
}
a:hover {
  background-color: #019bf4;
}

@keyframes flip-vertical-bck {
  0% {
    transform: translateZ(0) rotateY(0);
  }
  100% {
    transform: translateZ(-360px) rotateY(-360deg);
  }
}
.flip-vertical-bck {
  animation: flip-vertical-bck 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.hero {
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/source/img1.jpg");
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main h1, main p {
  padding: 2rem;
  margin: 1rem;
  text-align: center;
}
main h1 {
  font-size: 5rem;
}
main p {
  font-size: 2.5rem;
  font-weight: 600;
}
main a {
  margin: 0.8rem;
  padding: 1rem 2rem;
  font-size: 1em;
  color: #f4f4f4;
  background-color: #5bc500;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.5s;
}
main a:hover {
  background-color: #019bf4;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.banner-1 {
  width: 100%;
  height: 45rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/source/img2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-1 h2 {
  text-align: center;
  padding: 2.5rem;
}
.banner-1 a {
  margin: 0.8rem;
  padding: 1rem 2rem;
  font-size: 1em;
  color: #f4f4f4;
  background-color: #5bc500;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.5s;
  font-weight: 400;
}
.banner-1 a:hover {
  background-color: #019bf4;
}/*# sourceMappingURL=index.css.map */